* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact {
    background-image: url('src/images/slider-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
}

.container31 {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}